/*----------====={Polices d'écriture}=====-----------*/
@font-face { /* Corps de texte */
   	font-family : Texte;
	src: url(../polices/tt_octosquare.ttf);}

@font-face { /* Titre */
   	font-family : Titre;
	src: url(../polices/templo.ttf);}


/*-----------------====={Body}=====------------------*/
body { /* Configurations générales */
	font-family : Texte;
	font-size: 4dvh;
	line-height: 4dvh;
	text-align: center;
	color : #000141;
	text-shadow: 0.1dvh 0.2dvh rgb(0, 0, 0, 0.404);
	margin: 0;
	background-image: url('../images/carreaux/filtre_carreaux.png');
	background-size: 4dvh;
}

#principal { /* Configurations générales spécifiques à l'index */
    background-size: cover;
	background-position: center;
	margin: 0%;
	margin-left: 5dvw;
	margin-right: 5dvw;
}

#animated_wallpaper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
	z-index: -10;
}


/*----------------====={Entête}=====-----------------*/
header { /* Position des boutons dans l'entête */
    display: flex;
    justify-content: space-between;
    padding: 0;
}

/* Arière plan des boutons */
.b00 {background-image: url("../images/carreaux/bouton_bg_00.png");}
.b01 {background-image: url("../images/carreaux/bouton_bg_01.png");}
.b02 {background-image: url("../images/carreaux/bouton_bg_02.png");}
.b03 {background-image: url("../images/carreaux/bouton_bg_03.png");}
.b04 {background-image: url("../images/carreaux/bouton_bg_04.png");}
.b05 {background-image: url("../images/carreaux/bouton_bg_05.png");}

.bouton{ /* Style des boutons de l'entête */
	height: 100%;
	width: 15dvw;
	text-align: center;
	padding: 0.5dvh;
	background-size: contain;
	background-color: #00000000;
	border: solid, 0.3dvh, #EEEEEE;
    margin: 0.5dvw;
}

.bouton:hover {
	background-color: #FFFFFF50;
}

picture > img { /* Images dans les boutons */
	height: 7dvh;
	max-height: 10dvw;
	max-width: 12dvw;
	margin-bottom: 1dvh;
	-webkit-box-reflect: below 5% linear-gradient(transparent 70%, white);
}


/*-------------====={Pied de page}=====--------------*/
footer { /* Style du pied de page */
	color : #ffdcdc;
	text-align: left;
	font-size: 2.5dvh;
	line-height: 2.5dvh;
	font-family : Texte;
}


/*---------------====={Principal}=====---------------*/
main { /* Style et positionnement de la boîte main */
	height:83dvh;
	border: 0.4dvh solid rgba(255, 255, 255, 0.555);} 	

#pix { /* Positionnement de l'image pix dans la page formations */
	height: 20dvh;
	position: absolute;
	top: 4dvh;
	right: 4dvh;}

.prog_logo {
	height: 12dvh;
	margin: 1dvh;
}


#godot_game { /* Positionnement de l'image godot_game dans la page projet */
	height: 40dvh;
	max-height: 45dvw;
	margin-top: 1dvh;}

@media (max-width: 160dvh) { /* Adaptativité à un écran de portable */
	#principal{
		margin-left: 1dvw;
		margin-right: 1dvw;
	}
	main { /* Main responsive */
		height:85dvh;}
	#pix {position: static;}/* Image pix responsive (se positionne au centre) */
}

h2 { /* Style des titres */
	font-family : Titre;
	font-size: 8dvh;
	line-height: 6.5dvh;
	font-weight: normal;
	margin: 1dvh;
	text-shadow: 0.5dvh 0.5dvh rgb(0, 0, 0, 0.404);}

/* Couleur des carreaux de chaque page */
body.accueil {background-color: rgba(221, 221, 221, 0.5);}
body.formations {background-color: rgba(255, 153, 0, 0.5);}
body.experiences {background-color: rgba(255, 0, 0, 0.5);}
body.technologies {background-color: rgba(0, 132, 255, 0.5);}
body.projet {background-color: rgba(7, 212, 0, 0.5);}
body.interets {background-color: rgba(206, 0, 224, 0.5);}

/* Couleur des titres de chaque pages */
h2.accueil {color : rgba(255, 255, 255, 0.836);}
h2.formations {color : rgba(255, 153, 0, 0.836);}
h2.experiences {color : rgba(255, 17, 0, 0.877);}
h2.technologies {color : rgba(0, 238, 255, 0.836);}
h2.projet {color : rgba(9, 255, 0, 0.836);}
h2.interets {color : rgba(234, 0, 255, 0.836);}

li {list-style-type: none;} /* Retire les puces de la liste de la page technos */

/* Style du tableau de la page formations */
table {/* Couleurs du tableau de la page formations */ 
	border: 2px solid rgba(60, 255, 0, 0.801);
	table-layout: auto;
	width: 80dvw;
	max-width: 80dvh;}

tr {/* Couleur des cases normales */
	background-color: rgba(250, 225, 2, 0.589);
	color: rgba(0, 47, 255, 0.884);}

th {background-color: rgba(2, 250, 209, 0.24);
	font-weight: normal;} /* Couleur des cases titre */

/* Style du strong et du em */
strong {color : rgba(187, 0, 0, 0.884);font-weight: normal; }
em {color : rgba(135, 233, 7, 0.884); }

/* Taille du conteneur affichant les pages secondaires */
iframe {width: 100%; height: 100%; border: none;}

/* Style des liens */
a:link {color: rgba(255, 187, 0, 0.884);} /* Lien normal */
a:visited {color: rgba(123, 255, 0, 0.884);} /* Lien déjà visité */
a:hover {color: rgb(238, 255, 0, 0.884);} /* Lien survolé */
a:active {color: rgba(255, 187, 0, 0.884);} /* Lien cliqué */


/*-----------------====={POWER}=====-----------------*/
#fullScreenImage { /* Image de fond */
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;
	z-index: 5;
}

#powerButton { /* style du bouton POWER */
	height: 40dvh;
	width: auto;
	cursor: pointer;}
#powerButton:hover {height: 40.5dvh;} /* Lorsque survolé */

#div_power { /* Div permettant de centrer le bouton POWER */
	position: absolute;
	top: 25dvh;
	height: 20dvh;
	width: 100%;
	text-align: center;
	z-index: 10;
}