/*----------====={Polices d'écriture}=====-----------*/
@font-face { /* Corps de texte */
   	font-family : Texte;
	src: url(../polices/tt_octosquare.ttf);}

@font-face { /* Titre */
   	font-family : Titre;
	src: url(../polices/templo.ttf);}


/*-----------------====={Body}=====------------------*/
body { /* Configurations générales */
	background-color: rgba(1, 1, 36, 0.623);
	font-family : Texte;
	font-size: 4lvh;
	color : rgba(0, 119, 255, 0.884);
	line-height: 4lvh;
	text-align: center;}

#principal { /* Configurations générales spécifiques à l'index */
	background-image:url('../images/fond_ecran.jpg');
    background-size: cover;
	background-position: center;}


/*----------------====={Entête}=====-----------------*/
.liste-horizontale { /* Position des boutons dans l'entête */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;}

.bouton{ /* Style des boutons de l'entête */
	height: 1lvh;
	width: 40lvh;
	text-align: center;}

/* Épaisseur de l'entête */
header { height: 10lvh;}


/*-------------====={Pied de page}=====--------------*/
footer { /* Style du pied de page */
	color : rgba(223, 201, 130, 0.884);
	text-align: left;
	font-size: 2.5lvh;
	line-height: 2.5lvh;
	font-family : Texte;
	margin-left: 5lvw;
	margin-right: 5lvw;
	}


/*---------------====={Principal}=====---------------*/
main { /* Style et positionnement de la boîte main */
	margin-left: 5lvw;
	margin-right: 5lvw;
	height:85lvh;
	border: 0.4lvh solid rgba(100, 100, 100, 0.555);} 	

#pix { /* Positionnement de l'image pix dans la page formations */
	height: 20lvh;
	position: absolute;
	top: 4lvh;
	right: 4lvh;}


#unity_game { /* Positionnement de l'image unity_game dans la page projet */
	height: 40lvh;
	max-height: 45lvw;
margin-top: 1lvh;}

@media (max-width: 160lvh) { /* Adaptativité à un écran de portable */
	main { /* Main responsive */
	margin-left: 1lvw;
	margin-right: 1lvw;
	height:85lvh;}
	footer { /* Pied de page responsive */
		margin-left: 1lvw;
		height:.2.5lvh;}
	#pix {position: static;}/* Image pix responsive (se positionne au centre) */
}

h2 { /* Style des titres */
	font-family : Titre;
	font-size: 8lvh;
	line-height: 6.5lvh;
	font-weight: normal;
	margin: 1lvh;
	text-shadow: 5px 5px rgba(0, 0, 0, 0.404);}

/* Couleur des carreaux de chaque page */
body.accueil {background-image:url('../images/carreaux/image_1.png');}
body.formations {background-image:url('../images/carreaux/image_2.png');}
body.experiences {background-image:url('../images/carreaux/image_3.png');}
body.technologies {background-image:url('../images/carreaux/image_4.png');}
body.projet {background-image:url('../images/carreaux/image_5.png');}
body.interets {background-image:url('../images/carreaux/image_6.png');}

/* Couleur des titres de chaque pages */
h2.accueil {color : rgba(255, 255, 255, 0.836);}
h2.formations {color : rgba(255, 153, 0, 0.836);}
h2.experiences {color : rgba(255, 17, 0, 0.877);}
h2.technologies {color : rgba(0, 238, 255, 0.836);}
h2.projet {color : rgba(9, 255, 0, 0.836);}
h2.interets {color : rgba(234, 0, 255, 0.836);}


img {height: 8lvh;} /* Taille de l'image par défaut */
img:hover {height: 9lvh;} /* Taille de l'image lorsque survolée */

li {list-style-type: none;} /* Retire les puces de la liste de la page technos */

/* Style du tableau de la page formations */
table {/* Couleurs du tableau de la page formations */ 
	border: 2px solid rgba(60, 255, 0, 0.801);
	table-layout: auto;
	width: 80lvw;
	max-width: 80lvh;}

tr {/* Couleur des cases normales */
	background-color: rgba(250, 225, 2, 0.589);
	color: rgba(0, 47, 255, 0.884);}

th {background-color: rgba(2, 250, 209, 0.24);
	font-weight: normal;} /* Couleur des cases titre */

/* Style du strong et du em */
strong {color : rgba(255, 0, 0, 0.884);font-weight: normal; }
em {color : rgba(135, 233, 7, 0.884); }

/* Taille du conteneur affichant les pages secondaires */
iframe {width: 100%; height: 100%; border: none;}

/* Style des liens */
a:link {color: rgba(255, 187, 0, 0.884);} /* Lien normal */
a:visited {color: rgba(123, 255, 0, 0.884);} /* Lien déjà visité */
a:hover {color: rgb(238, 255, 0, 0.884);} /* Lien survolé */
a:active {color: rgba(255, 187, 0, 0.884);} /* Lien cliqué */


/*-----------------====={POWER}=====-----------------*/
#fullScreenImage { /* Image de fond */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#powerButton { /* style du bouton POWER */
	height: 40lvh;
	width: auto;
	cursor: pointer;}
#powerButton:hover {height: 40.5lvh;} /* Lorsque survolé */

#div_power { /* Div permettant de centrer le bouton POWER */
	position: absolute;
	top: 25lvh;
	height: 20lvh;
	width: 99%;
	text-align: center;
	z-index: 10;
}